.login-register {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .log-reg-form {
        width: 35%;
        height: 500px;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        padding: 5px;
        transition: $transition;
        &:hover {
            box-shadow: 2px 2px 10px #536878;
        }
        .log-reg-switch {
            width: 50%;
            border-radius: $switch-height/2;
            height: $switch-height;
            background: white;
            position: relative;
            margin: 10px auto;
            box-shadow: 2px 2px 8px #536878;
            .log-reg-bg-color {
                width: 50%;
                height: $switch-height;
                border-radius: $switch-height/2;
                background: $login-gradient;
                position: absolute;
                margin: auto auto auto 0;
                z-index: 1;
                transition: $transition;
                &.log-reg-bg-right {
                    margin: auto auto auto 50%;
                    background: $register-gradient;
                }
            }
            .log-reg-text {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 2;
                border-radius: $switch-height/2;
                display: flex;
                margin: 0;
                p {
                    margin: 0;
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #000;
                    font-weight: bold;
                    &.white {
                        color: #fff;
                    }
                }
            }
        }
        .login, .register {
            position: absolute;
            width: 80%;
            height: 100%;
            transition: $transition;
            margin-top: 10px;
            h4 {
                color: $text-color;
            }
            small {
                color: #777;
            }
        }
        .login {
            margin-left: 10%;
            &.reg {
                width: 120%;
                margin-left: -110%;
            }
        }
        .register {
            margin-left: 100%;
            &.reg {
                margin-left: -60%;
            }
        }
    }
}