// edit button
@mixin edit-button($padding, $background, $position, $zindex, $top, $right, $bottom, $left) {
	display: inline-block;
	padding: $padding;
	border-radius: 50%;
	background: $background;
	position: $position;
	z-index: $zindex;
	color: #fff;
	top: $top;
	right: $right;
	left: $left;
	bottom: $bottom;
}

// chat area User image and name field
@mixin user-details($img-width, $p-padding, $body-padding) {
	display: flex;
	align-items: center;
	padding: $body-padding;
	img {
		width: $img-width;
		height: $img-width;
		border-radius: 50%;
	}
	p {
		padding-left: $p-padding;
	}
}