$place-transition: 1s;
$below-ele-margin: 5px 5px;

.card, .image, .image img, .title, .body {
	width: 100%;
	transition: 1s ease-in;
	text-align: center;
}
.card {
	width: 350px;
	height: 200px;
	overflow: hidden;
	position: relative;
	@media screen and (max-width: 499px) {
		width: 80% !important;
		height: auto;
	}
	.title, .body {
		margin-top: 200px;
		opacity: 0;
		@media screen and (max-width: 499px) {
			margin-top: 3px;
			opacity: 1;
		}
	}
	.button {
		margin-left: 300px;
		opacity: 0;
		@media screen and (max-width: 499px) {
			opacity: 1;
			margin-left: 0;
		}
	}
	@media screen and (min-width: 500px) {
		&:hover {
			.title, .body, .button {
				opacity: 1;
			}
			.button {
				margin-right: 0;
			}
			.image {
				width: 35%;
				height: 80px;
				text-align: left;
				img {
					position: absolute;
					top: 0;
					border-radius: 0% 0% 0% 100%;
				}
			}
			.title {
				transition: 1s ease-in 1s;
				margin: $below-ele-margin;
				h6 {
					font-size: 0.8em;
					color: #464646;
				}
			}
			.body {
				transition: 1s ease-in 1.3s;
				margin: $below-ele-margin;
				.body-text {
					font-size: 0.7em;
					color: #888;
				}
			}
			.button {
				transition: 1s ease-in 1.5s;
				margin: $below-ele-margin;
				margin-top: 10px;
				.button-text {
					font-size: 0.7em;
					padding: 1.5px 6px;
					background: transparent;
					border: 1px solid #000;
					border-radius: 3px;
					&:hover {
						border-radius: 0px;
						cursor: pointer;
						padding: 2px 7px;
					}
				}
			}
		}
	}
	.image {
		position: relative;
		margin: 0 0 auto auto;
		height: 100%;
		overflow: hidden;
		img {
			
		}
	}
	.title {
		
		h6 {
			@media screen and (max-width: 499px) {
				font-size: 0.85em;
				color: #464646;
			}
		}
	}
	.body {
		.body-text {
			@media screen and (max-width: 499px) {
				font-size: 0.8em;
				color: #888;
				margin-bottom: 20px;
			}
		}
	}
	.button {
		.button-text {
		}
	}
}

.top-places {
	margin: 50px 0;
	.cell {
		margin-bottom: 20px;
	}
	h2 {
		text-align: center;
		margin-bottom: 40px;
		color: $text-color;
	}
}