$blue-grey-one: #6e7f80;
$blue-grey-two: #536872;
$blue-grey-three: #708090;
$blue-grey-four: #536878;
$blue-grey-five: #36454f;
$text-color: #708090;
$gradient-dark: #000428;
$gradient-light: #004e92;

$transition: 0.5s ease-in;
$switch-height: 25px;
$login-gradient: linear-gradient(to right, $gradient-dark, $gradient-light);
$register-gradient: linear-gradient(to right, $gradient-light, $gradient-dark);
